@media only screen and (max-width: 1024px) {
    .header_button {
        display: none;
    }
    .header_notify {
        display: inline-block;
    }
    .container {
        width: 90%;
        max-width: 934px;
        margin: 0 auto;
    }
    .menu-button {
        display: block;
    }
    .navbar {
        display: none;
    }
    .slider {
        width: 100%;
        max-width: 934px;
        padding-top: 257px;
        box-sizing: border-box;
    }
    .slider_control,
    .slider_text {
        display: none;
    }
    .list_img {
        width: 35%;
        max-width: 336px;
        height: 220px;
        margin-right: 24px;
    }
    .list_content {
        flex: 1;
    }
    .video_content-right-heart img,
    .video_content-link .video_content-heart img {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        padding: 0 6%;
        box-sizing: border-box;
    }
    .slider {
        width: 90%;
        max-width: 696px;
        padding-top: 191px;
        margin: 122px auto 42px;
        box-sizing: border-box;
    }
    .slider_text {
        top: 80px;
        left: 24px;
    }

    .slider_title {
        font-size: 3rem;
    }

    .slider_sub-title {
        font-size: 1.4rem;
    }

    .menu-button {
        display: block;
    }
    .navbar {
        display: none;
    }
    .container {
        width: 90%;
        max-width: 696px;
        margin: 0 auto;
    }
    .tab_button-item {
        font-size: 1.4rem;
    }
    .news_content-left {
        width: 100%;
    }
    .news_content-author {
        margin: 0 19px;
    }
    .news_content-body {
        display: unset;
    }
    .news_content-link {
        width: 100%;
    }
    .news_content-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }
    .news_content-right .news_content-link {
        width: 48%;
        max-width: 336px;
    }
    .header_text,
    .header_button,
    .slider_text {
        display: none;
    }
    .video_heading {
        margin-bottom: 24px;
    }
    .video_content {
        display: unset;
    }
    .video_content-left,
    .video_content-right {
        width: 100%;
    }
    .video_content-right {
        height: unset;
        margin-top: 36px;
    }
    .video_content-right-item {
        display: flex;
        align-items: center;
        overflow-x: auto;
        width: 100%;
    }
    .video_content-right-link {
        width: 216px;
        margin-right: 24px;
    }
    .video_content-right-title {
        font-size: 1.2rem;
        width: 216px;
    }
    .video_content-right-view {
        margin: 8px 20px 0 0;
    }
    .list_item {
        margin-bottom: 26px;
    }
    .list_img {
        width: 48%;
        max-width: 336px;
        height: 220px;
        margin-right: 24px;
    }
    .list_content-title {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin: 0 0 3px 0;
    }
    .list_content-desc {
        font-size: 1.5rem;
        margin: 4px 0 0;
        line-height: 2.4rem;
    }
}

@media only screen and (max-width: 426px) {
    .header {
        padding: 0 5%;
        box-sizing: border-box;
    }
    .header_profile {
        margin-left: 8px;
    }
    .menu-button {
        display: block;
    }
    .navbar,
    .header_button,
    .header_text,
    .slider_text {
        display: none;
    }
    .slider {
        width: 90%;
        max-width: 377px;
        padding-top: 96px;
        margin: 104px auto 20px;
        box-sizing: border-box;
    }
    .container {
        width: 90%;
        max-width: 377px;
        margin: 0 auto;
    }
    .tab_button-item {
        font-size: 1.4rem;
        line-height: 2.1rem;
        width: 115px;
        height: 33px;
    }
    .news_content-heading {
        font-size: 2.9rem;
        line-height: 2.4rem;
    }
    .news_content-body,
    .news_content-right {
        display: unset;
    }
    .news_content-heading img {
        margin-right: 18px;
        width: 26px;
    }
    .news_content-link,
    .news_content-left,
    .news_content-right .news_content-link {
        width: 100%;
    }
    .news_content-left {
        margin-bottom: 24px;
    }
    .news_content-img,
    .news_content-img img:first-child {
        height: 261px;
        width: 100%;
    }
    .news_content-title,
    .news_content-sub-title {
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
    .video_content,
    .video_content-left,
    .video_content-right {
        width: 100%;
    }
    .video_content-link img {
        height: 200px;
        width: 100%;
    }
    .video_content-title,
    .video_content-info {
        display: none;
    }
    .video_content-control {
        width: 48px;
        height: 48px;
    }
    .video_content-control img {
        width: 20px;
    }
    .video_content-right {
        margin-top: 10px;
        height: unset;
    }
    .video_content-right-item {
        display: flex;
        align-items: center;
        overflow-x: auto;
        margin-top: 10px;
    }
    .video_content-right-link,
    .video_content-right-title {
        width: 216px;
        margin-right: 16px;
    }
    .list_heading,
    .list_content-desc,
    .list_content-title {
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
    .list_content-type,
    .list_content-author,
    .list_content-days {
        font-size: 1.2rem;
        margin-right: 10px;
    }
    .list_img {
        width: 100%;
        height: 105px;
        margin-bottom: 16px;
    }
    .list_item {
        display: none;
    }
    .list_item-sub {
        display: block;
        margin-top: 29px;
    }
    .list_item-sub .list_img {
        width: 48%;
        max-width: 181px;
    }
    .list_item-sub .list_content-desc {
        width: 48%;
        max-width: 178px;
    }
    .list_img img:first-child {
        height: 110px;
        width: 100%;
    }
    .list_content {
        width: 100%;
    }
    .more_button {
        width: 161px;
        height: 40px;
    }
}

@media only screen and (max-width: 376px) {
    .header_notify,
    .header_heart {
        margin-left: 18px;
    }
    .container {
        width: 90%;
        max-width: 331px;
        margin: 0 auto;
    }
    .slider {
        width: 90%;
        max-width: 331px;
        padding-top: 90px;
        border-radius: 16px;
        margin: 104px auto 16px;
        box-sizing: border-box;
    }
    .tab_button {
        width: 100%;
        display: flex;
        align-content: center;
        overflow-x: auto;
    }
    .tab_button-item {
        width: 115px;
        height: 33px;
    }
    .news_content-heading img {
        width: 18px;
        margin-right: 11px;
    }
    .news_content-heading {
        font-size: 2.1rem;
        font-weight: 700;
        line-height: 2.7rem;
    }
    .news_content-img img:first-child,
    .news_content-right-img img:first-child {
        height: 216px;
        width: 100%;
        border-radius: 16px;
    }
    .news_content-left {
        margin-bottom: 24px;
    }
    .news_content-right {
        display: unset;
        margin-top: 30px;
    }
    .news_content-right .news_content-link {
        margin-bottom: 16px;
        width: 100%;
    }
    .video_content-right {
        margin-top: 88px;
    }
    .video_viewall,
    .video_heading {
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
    .video_content-link img {
        height: 186px;
        width: 100%;
        border-radius: 16px;
    }
    .video_content-title {
        display: block;
        top: calc(100% + 8px);
        left: 0;
        bottom: unset;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: var(--text-color);
    }
    .video_content-info {
        display: flex;
        top: calc(100% + 54px);
        left: 0;
        bottom: unset;
        align-content: center;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: var(--text-color);
    }
    .video_content-days {
        margin: 0;
    }
    .video_content-right-control {
        width: 36px;
        height: 36px;
    }
    .list {
        width: 100%;
        margin: 24px 0 16px;
    }
    .list_item {
        display: none;
    }
    .list_item-sub {
        display: block;
    }
    .list_heading {
        margin: 0;
    }
    .list_img img:first-child {
        height: 105px;
        width: 100%;
    }
    .list_item-sub .list_img {
        width: 48%;
        max-width: 155px;
    }
    .list_item-sub .list_content-desc {
        width: 48%;
        max-width: 165px;
    }
    .more_button {
        width: 161px;
        height: 40px;
    }
}

@media only screen and (max-width: 320px) {
    .header {
        padding: 0 5%;
        box-sizing: border-box;
    }
    .header_logo {
        display: none;
    }
    .slider {
        width: 90%;
        max-width: 288px;
        padding-top: 80px;
        box-sizing: border-box;
    }
    .container {
        width: 90%;
        max-width: 288px;
        margin: 0 auto;
    }
    .tab_button-item {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
    .news_content-right,
    .news_content-right .news_content-link {
        width: 100%;
    }
    .news_content-title {
        margin: 12px 0 0;
    }
    .news_content-type {
        font-size: 1.2rem;
    }
    .news_content-time,
    .news_content-author {
        font-size: 1.4rem;
    }
    .list_item-sub .list_img {
        width: 48%;
        max-width: 124px;
    }
    .list_item-sub .list_content-desc {
        width: 48%;
        max-width: 153px;
    }
}